<h1>{{title}}</h1>
<i>Page created by Kang.</i>
<hr>
<h2>Battery Info</h2>
<ul>
    <li>
        Battery Level: {{batInfo.level}}%
    </li>
    <li>
        Is Charging: {{batInfo.charging}}
    </li>
</ul>
<br>
<h2>DHCP DNSMASQ Info</h2>
<ul>
    <li>
        <a href="/leases">Open</a>
    </li>
</ul>
<br>
<h2>Network Interfaces Info</h2>
<ul>
    <li>
        <a href="/interfaces">Open</a>
    </li>
</ul>
<br>
<h2>DF Info</h2>
<ul>
    <li>
        <a href="/df">Open</a>
    </li>
</ul>
