<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="icon" href="/images/android-chrome-512x512.png" sizes="512x512">
    <link rel="icon" href="/images/android-chrome-192x192.png" sizes="192x192">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
{{{body}}}
</body>
</html>
