<hr>
<h2>Battery Information</h2>
<ul>
    <li>
        Battery Level: {{batInfo.level}}%
    </li>
    <li>
        Is Charging: {{batInfo.charging}}
    </li>
</ul>
<h2>DHCP DNSMASQ Information</h2>
<ul>
    <li>
        <a href="/leases">Open</a>
    </li>
</ul>
<h2>Network Interfaces Information</h2>
<ul>
    <li>
        <a href="/interfaces">Open</a>
    </li>
</ul>
<h2>DF Information</h2>
<ul>
    <li>
        <a href="/df">Open</a>
    </li>
</ul>
